@media screen and (max-width: 980px) {
    header nav ul li a {
        padding: 10px 15px;
        font-weight: bolder;
        font-size: 1.4vw;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    .bio img {
        height: 150px;
        width: 150px;
        float: right;
    }

    .bio-content p {
        font-size: 14px;
        line-height: 1.4;
    }

    .projects {
        width: 500px;
        height: 300px;
    }

    .projects img {
        width: auto;
        height: auto;
    }

    .first-project {
        width: 600px;
        height: 400px;
    }
    
    .first-project img {
        width: 600px;
        height: 400px;
    }

    .my-resume-content {
        width: 100%;
        margin: 10px;
        padding: 10px;
        border: 0;
        border-radius: 0;
    }

    iframe {
        width: 90%; 
        background-image: url(../images/resume-placeholder-img.png);
        background-size: cover;
        height: 350px; 
        margin: 0;
        padding: 0;
        border: 0;
    }
}


@media screen and (max-width: 768px) {
    header nav ul li a {
        padding: 5px;
        font-weight: bolder;
        font-size: 20px;
        text-shadow: 0;
    }

    .hero-content h2 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 16px;
    }

    iframe {
        width: 100%; 
        background-image: url(../images/resume-placeholder-img.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 350px; 
        margin: 0;
        padding: 0;
        border: 0;
    }

    .projects img {
        height: 100%;
        width: 100%;
    }

    footer {
        line-height: 1.5;
    }
    
    footer h3 {
        font-size: 18px;
    }
}


@media screen and (max-width: 575px) {   
    header {
        text-align: center;
        padding: 15px 35px;
        background-color: var(--extra-color);
        position: relative;
    }
    
    header nav ul {
        flex-wrap: nowrap;
    }
    
    header nav ul li a {
        padding: 10px 10px;
        font-size: 16px;
    }

    iframe {
        width: 100%; 
        background-image: url(../images/resume-placeholder-img.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px; 
        margin: 0;
        padding: 0;
        border: 0;
    }

    .contact-me-content {
        width: 80%;
        margin: 10px 50px 40px 50px;
        padding: 10px 10px 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .my-links {
        display: inline;
    }

    footer {
        line-height: 1.5;
    }
    
    footer h3 {
        font-size: 18px;
    }
}