* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #d2ab83;
    --secondary-color: #2e261d;
    --tertiary-color: #eecba7;
    --extra-color: #946c6c;
}

body {
    background-color: var(--tertiary-color);
    font-family: Verdana, Helvetica, sans-serif;
}

/*styling the HEADER*/
header {
    text-align: center;
    padding: 15px 35px;
    background-image: url("../images/main-bg-image.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    display: inline;
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    line-height: 1.5;
    text-shadow: 0 0 10px rgba(93, 76, 58, 0.8);
}

header h1:hover {
    background-color: rgba(148, 108, 108, 0.453);
    border-radius: 15px;
    font-style: italic;
}

header a {
    text-decoration: none; /*to get rid of the link appearance*/
    color: var(--secondary-color);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.1vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

header nav ul li a:hover {
    background-color: rgba(148, 108, 108, 0.453);
    border-radius: 15px;
    font-style: italic;
    font-weight: bold;
}

/*styling HERO section*/
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    background-image: url("../images/main-bg-image.jpg");
    background-size:cover;
    background-position: 40%;
    background-attachment: fixed;
}

.hero-content {
    width: 100%;
    text-align: left;
    margin: 5%;
    padding: 15px 40px;
    color: var(--extra-color);
    font-size: 28px;
    line-height: 2;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    background-color: rgba(223, 189, 154, 0.453); 
}

.hero-content h2 {
    font-style: oblique;
    font-size: 46px;
    color: var(--extra-color);
}

.hero-content p {
    font-size: 20px;
    font-style: italic;
}

/*styling BIO section*/
.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--extra-color), var(--primary-color));
}

.bio img {
    height: 250px;
    width: 250px;
    float: right;
}

.my-header {
    margin-top: 20px;
    border: 4px solid var(--extra-color);
    border-radius: 30px;
    background-color: rgba(148, 108, 108, 0.453);
    padding: 5px 15px;
}

.bio-content {
    width: 100%;
    text-align: left;
    color: var(--secondary-color);
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--extra-color));
    margin: 20px 50px 20px 50px;
    padding: 15px 20px 15px 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 30px;
}

.bio-content p {
    font-size: 18px;
    line-height: 1.4;
}

/*styling MY WORKS section*/
.my-works {
    
    background-image: url("../images/main-bg-image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.my-works-content {
    margin: 20px 50px 20px 50px;
    padding: 10px 10px 10px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.top-row {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-row {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projects {
    margin: 10px;
    border: 7px solid var(--extra-color);
}

.projects img {
    width: 50%;
}

.horiseon-project {
    margin: 10px;
    border: 7px solid var(--extra-color);
}

.horiseon-project img {
    width: 50%;
}

.projects-content {
    background-color: rgba(148, 108, 108, 0.453);
    color: var(--secondary-color);
    border-style: solid;
    border-width: 7px 0 0 0;
    border-color: var(--extra-color);
    padding: 5px 15px;
    line-height: 2.5;
}

.projects-content p {
    font-size: 20px;
    font-style: oblique;
}

.first-project {
    margin: 10px;
    border: 7px solid var(--extra-color);
}

.first-project img {
    width: 50%;
}

.first-project-content {
    background-color: rgba(148, 108, 108, 0.453);
    color: var(--secondary-color);
    border-style: solid;
    border-width: 7px 0 0 0;
    border-color: var(--extra-color);
    padding: 5px 15px;
    line-height: 2.5;
}

.first-project-content p {
    font-size: 20px;
    font-style: oblique;
}

/*styling MY RESUME section*/
.my-resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to bottom right, var(--extra-color), var(--primary-color));
}

.my-resume-content {
    width: 100%;
    margin: 20px 50px 20px 50px;
    padding: 10px 10px 10px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--extra-color));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 80%; 
    height: 600px; 
    margin: 10px;
    padding: 20px;
    border: 10px solid var(--extra-color);
}

/*styling CONTACT-ME section*/
.contact-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/main-bg-image.jpg");
    background-size: cover;
}

.contact-me-header {
    margin-top: 20px;
    border: 4px solid var(--extra-color);
    border-radius: 30px;
    background-color: rgba(148, 108, 108, 0.453);
    padding: 5px 15px;
}

.contact-me-content {
    width: 50%;
    margin: 10px 50px 40px 50px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.my-info {
    text-align: center;
    margin: 15px;
    padding: 20px;
    border: 10px solid var(--extra-color);
    background-color: rgba(223, 189, 154, 0.453);
    flex: 1;
}

.contact-me-content h3{
    padding: 20px;
}

.my-links {
    display: flex;
    flex-direction: column;
}

.box {
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.box a, p {
    text-decoration: none;
    padding: 0 10px;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

/*styling the footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--extra-color));
    width: 100%;
    padding: 20px 35px;
    line-height: 1.7;
}

footer h3 {
    color: var(--secondary-color);
    font-size: 28px;
    margin: 0;
}


/*@media screen and (max-width: 980px) {
    header nav ul li a {
        padding: 10px 15px;
        font-weight: bolder;
        font-size: 1.4vw;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    .bio img {
        height: 150px;
        width: 150px;
        float: right;
    }

    .bio-content p {
        font-size: 14px;
        line-height: 1.4;
    }

    .my-works-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px 20px 20px;
    }

    .my-resume-content {
        width: 100%;
        margin: 10px;
        padding: 10px;
        border: 0;
        border-radius: 0;
    }

    iframe {
        width: 90%; 
        background-image: url(../images/resume-placeholder-img.png);
        background-size: cover;
        height: 350px; 
        margin: 0;
        padding: 0;
        border: 0;
    }
}


@media screen and (max-width: 768px) {
    header nav ul li a {
        padding: 5px;
        font-weight: bolder;
        font-size: 20px;
        text-shadow: 0;
    }

    .hero-content h2 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 16px;
    }

    iframe {
        width: 100%; 
        background-image: url(../images/resume-placeholder-img.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 350px; 
        margin: 0;
        padding: 0;
        border: 0;
    }

    .projects img {
        height: 100%;
        width: 100%;
    }
}


@media screen and (max-width: 575px) {   
    header {
        text-align: center;
        padding: 15px 35px;
        background-color: var(--extra-color);
        position: relative;
    }
    
    header nav ul {
        flex-wrap: nowrap;
    }
    
    header nav ul li a {
        padding: 10px 10px;
        font-size: 1.3vw;
    }

    iframe {
        width: 100%; 
        background-image: url(../images/resume-placeholder-img.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px; 
        margin: 0;
        padding: 0;
        border: 0;
    }

    .contact-me-content {
        width: 80%;
        margin: 10px 50px 40px 50px;
        padding: 10px 10px 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .my-links {
        display: inline;
    }

    footer {
        line-height: 1.5;
    }
    
    footer h3 {
        font-size: 18px;
    }
}*/